{{#partial "mainContent"}}
    <div class="heroHeader text-center">
        <h3 class="text-warning">welcome to your Squad</h3>
        <hr class="w-25 mx-auto">
    </div>

    {{#if squad}}

        <div class="container">
            <div class="row">
                {{#each squad}}
                    <div class="col-md-3">
<!--                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--                       </button>-->
                        <div class="card heroListCard mt-4">
                            <div class="card-body">
                                <p><strong>Name:</strong> {{ squadName }}</p>
                                <hr>
                                <p><strong>Size:</strong> {{ squadSize }}</p>
                                <hr>
                                <p><strong>Cause:</strong> {{ squadCause }}</p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

    {{else}}<!--no posts-->
    <div class="noSquadsWarning text-center mt-4">
        <h5 class="text-danger">😪No Squads In place😪</h5>
        <button class="btn btn-warning text-black decoration-none mt-4"><a class="text-black text-decoration-none" href="/"> 😪back😪</a></button>
    </div>

    {{/if}}

{{/partial}}

{{> layout.hbs}}